body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.square-container {

   text-align: center;
   line-height: 0.2;
}



/* 
.square-container {
    text-align: center;
    font-family: monospace;
    white-space: pre;
    position: relative; /* Pridedame pozicijos atributą */
    /* align-items: center; */
/* } */

